
/obj
/bin
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
/TypeRacerApi/.idea
/TypeRacerAPITest/bin/Debug
/TypeRacerAPITest/bin/Debug/net8.0
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
/.vs/slnx.sqlite
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.AssemblyInfo.cs
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.AssemblyInfoInputs.cache
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.csproj.AssemblyReference.cache
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.assets.cache
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.GeneratedMSBuildEditorConfig.editorconfig
/TypeRacerAPITest/obj/project.assets.json
/TypeRacerAPITest/obj/project.nuget.cache
/TypeRacerAPITest/obj/TypeRacerAPITest.csproj.nuget.g.props
/TypeRacerAPITest/obj/TypeRacerAPITest.csproj.nuget.dgspec.json
/TypeRacerAPITest/bin/Debug/net8.0/TypeRacerAPITest.dll
/TypeRacerAPITest/bin/Debug/net8.0/TypeRacerAPITest.pdb
/TypeRacerAPITest/obj/Debug/net8.0/ref/TypeRacerAPITest.dll
/TypeRacerAPITest/obj/Debug/net8.0/refint/TypeRacerAPITest.dll
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.csproj.CoreCompileInputs.cache
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.csproj.FileListAbsolute.txt
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.dll
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.genruntimeconfig.cache
/TypeRacerAPITest/obj/Debug/net8.0/TypeRacerAPITest.pdb
