
/obj
/bin
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
/TypeRacerApi/.idea
/TypeRacerAPITest/bin/Debug
/TypeRacerAPITest/bin/Debug/net8.0
/TypeRacerAPITest/obj
/TypeRacerAPITest/obj
